.main-header {
  background: $header-bg-colour;
  border-bottom: 1px solid #e9e7e7;
  box-shadow: 0 0 4px rgba(0, 0, 0, .05);
  font-size: 1.6rem;
  height: $main-header-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z("header");

  & > .container {
      height: 100%;

      & > .grid {
          height: 100%;
      }
  }
}

.main-header__logo {
    color: $primary-colour;
    font-size: 2rem;
    font-weight: bold;
    width: 165px;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.main-header__links {
    text-align: right;
}

.hero-header {
    background: #F3F4F6;
    padding: 20px 0;
}

    .hero-header__left {
        margin-right: 20px;
    }

        .hero-header__username {
            font-size: 2.8rem;
            margin: 0;
        }

        .hero-header__blurb {
            font-size: 1.6rem;
        }
