@import "./config/index";
@import "./functions/index";
@import "./grid/reflex";

@import "./partials/index";

* {
  box-sizing: border-box;
  position: relative;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
    font-size: $base-font-size;
}

body {
  background: $bg-colour;
  font-family: $sans-serif-font-family;
}

router-view {
    display: block;
    margin-top: $main-header-height;
}
@import "./flex-layout-attribute.min.css";
