@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i');

@import "./config/index";
@import "./functions/index";
@import "./partials/grid";

@import "./partials/index";

* {
  box-sizing: border-box;
  position: relative;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
    font-size: $base-font-size;
}

body {
  background: $bg-colour;
  font-family: $sans-serif-font-family;
}

p {
    font-family: $serif-font-family
}

router-view {
    display: block;
    margin-top: $main-header-height;
}

.main-content {
    background: #FFF;
}

@import "./pages/content";

@import "./flex-layout-attribute.min.css";
