<template>
    <header class="main-header">
        <div class="container" layout="row center-justify">
            <div class="main-header__logo"><a route-href="route: home;"><span>Aurelia</span>Steem</a></div>

            <div class="main-header__search">
                <input type="text" placeholder="Search for something....">
            </div>

            <div class="main-header__links">
                <a href="#">Sign up</a> |
                <a href="#">Log In</a>
            </div>
        </div>
    </header>

    <slot></slot>
</template>
