<template>
    <header class="main-header">
        <div class="container">
            <div class="grid">
                <div class="col-2 main-header__logo">AureliaSteem</div>
                <div class="col-6">
                    <input type="text" placeholder="Search for something....">
                </div>
                <div class="col-4 main-header__links">
                    <a href="#">Sign up</a> | <a href="#">Log In</a>
                </div>
            </div>
        </div>
    </header>
    
    <slot></slot>
</template>
